<ul class="navbar-nav align-items-center gap-3">
  <!-- Si hay usuario logueado -->
  <ng-container *ngIf="usuarioLogueado; else menuNoLogueado">
    <li class="nav-item">
      <span class="nav-link px-4 py-2 text-success fw-semibold">
        {{ usuarioLogueado.firstName }} {{ usuarioLogueado.lastName }}
      </span>
    </li>
    <li class="nav-item">
      <a
        [routerLink]="['/producto/ver-productos']"
        class="nav-link px-4 py-2 rounded-pill text-primary fw-semibold"
        routerLinkActive="active"
        >Ver Productos</a
      >
    </li>
    <!-- agregar botón de logout acá -->
  </ng-container>

  <!-- Si NO hay usuario logueado -->
  <ng-template #menuNoLogueado>
    <li class="nav-item">
      <a
        [routerLink]="['/usuario/signin']"
        class="nav-link px-4 py-2 rounded-pill text-primary fw-semibold"
        routerLinkActive="active"
        >Iniciar Sesión</a
      >
    </li>
    <li class="nav-item">
      <a
        [routerLink]="['/usuario/signup']"
        class="nav-link px-4 py-2 rounded-pill text-primary fw-semibold"
        routerLinkActive="active"
        >Registrarme</a
      >
    </li>
    <li class="nav-item">
      <a
        [routerLink]="['/producto/ver-productos']"
        class="nav-link px-4 py-2 rounded-pill text-primary fw-semibold"
        routerLinkActive="active"
        >Ver Productos</a
      >
    </li>
  </ng-template>
</ul>
